{% extends 'blog/base.html' %}
{% block content %}
    {% load tz %}
    {% localtime on %}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a><h2>
            <h4> Created-> {% timezone "America/New_York" %} {{ post.created_date }} {% endtimezone %}
              : <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            </h4>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
    {% endfor %}
    {% endlocaltime %}
 {% endblock %}
