{% extends 'blog/base.html' %}
{% block content %}
    {% load tz %}
    {% localtime on %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
               <p>published:
               {% timezone "America/New_York" %}
                {{ post.published_date }}
               {% endtimezone %} </p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
    {% endfor %}
    {% endlocaltime %}
 {% endblock %}
